<h1>About Page</h1>

<p>Hi my name is Hannah 👋 and I'm an aspiring software developer. The reason I created this blog app was to learn more about MongoDB and how it is different from SQL. I followed a great Node, Express and MongoDB tutorial by  <a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9hAJ-ARcYq_z6lDZV7kT1xD">Net Ninja and Reddy</a> and added a few extras features to create this interactive CRUD app 💻. This gave me a good understand of the syntax of MongoDB and how to integrate it with express. 
</p>